h1 {
  text-align: center;
  border-bottom:2px grey solid;
  padding:10px;
  margin: 0;
}
#grid {
  display: grid;
  padding-left: 5px;
  margin: 0px;
  grid-template-columns: 150px 1fr;
  border-bottom: 2px grey solid;
}
#index{
  border-right:2px grey solid;
  padding-top: 10px;
  margin: 0px;
}
#item {
  padding-left: 10px;
}
article {
  padding-left: 10px;
}
article #mtitle {
  
}
