h1 {
  text-align: center;
  border-bottom:2px grey solid;
  padding:10px;
  margin: 0;
}
#grid {
  display: grid;
  padding-left: 5px;
  margin: 0px;
}
#index{
  border-right:2px grey solid;
  padding-top: 10px;
  margin: 0px;
}
#item {
  padding-left: 10px;
}
